* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_x {
  text-align: center;
}

.center_y {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}

.button:hover {
  font-size: 15px;
  color: #ffffff;
  background-color: #dedede;
}

.container {
  width: 100vw;
  height: 100vh;
}

.input {
    border: none;
    outline: none;
}

.icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.search_form {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  position: relative;
}

.search_input {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  padding-left: 20px;
  border: 1px solid #b6b6b6;
}

.icon_search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
}